h1 {
    color: rgb(4, 0, 24);
    text-align: center;
    padding: 10px;
    font-family:Courier, monospace;
}
body {
    background-image: url("/static/css/Bg.png");
}
nav {
    color:rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
}
td {
    color: rgb(4, 0, 24);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    font-style: normal;
}