{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Hack Amazon Using Amazon {% endblock %}</h1>

    <a>
            <h3>Naren Mohan</h>
            <h5>Started as a fun little personal project where I just created a Python script and ran it locally on my computer to notify myself when the price of an expensive pair of Nike shoes listed on amazon.in dropped, back in 2019 when I was in India.</h5>

            <h5>Now I enhanced it by building a web application and integrated it with SQLite database and hosted the entire project on AWS (Hence, the name Hack Amazon Using Amazon) making it more easier to add/remove and track the price of products. </h5>
    </a>

{% endblock %}